#circle {
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  position: fixed;
  top: 50px;
  width: 50px;
}

#circle-container {
  background-color: black;
  height: 100vh;
  left: 0px;
  mix-blend-mode: multiply;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0px;
  width: 100vw;
}
